<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="container">

  <div id="app">

    <h1 class="text-3xl font-bold underline">Shop</h1>

    <h2>Items</h2>

    <div class="card-group">
      <div class="card" v-for="item in items">
        <div class="card-body text-center">
          <h5 class="card-title">{{ item.name }}</h5>
          <a class="btn btn-danger" v-if="itemInCart(item)" @click="deleteFromCart(item)">Delete from cart</a>
          <a class="btn btn-primary" v-else @click="addToCart(item)">Add to cart</a>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 pt-2">
      <button class="btn btn-primary" @click="checkout()">Checkout</button>
    </div>

    <hr>

    <div v-if="associations.length > 0">

      <h2>Customers who bought those items, also bought:</h2>

      <div class="card-group">
        <div class="card" v-for="item in associations">
          <div class="card-body text-center">
            <h5 class="card-title">{{ item.name }}</h5>
            <a class="btn btn-danger" v-if="itemInCart(item)" @click="deleteFromCart(item)">Delete from cart</a>
            <a class="btn btn-primary" v-else @click="addToCart(item)">Add to cart</a>
          </div>
        </div>
      </div>

    </div>



  </div>

  <script>
    new Vue({
      el: "#app",
      data: {
        items: [],
        cart: [],
        associations: [],
      },
      methods: {
        getItems() {
          fetch("/shop/items")
            .then((response) => response.json())
            .then((data) => {
              this.items = data;
            });
        },
        addToCart(item) {
          this.cart.push(item);
          this.getAssociations();
        },
        getAssociations() {
          fetch("/shop/associations", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(this.cart),
          })
            .then((response) => response.json())
            .then((data) => {
              this.associations = data;
            });
        },
        checkout() {
          console.log(this.cart);
          fetch("/shop/checkout", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(this.cart),
          })
            .then((response) => response.json())
            .then((data) => {
              this.items = data;
              this.cart = [];
            });
        },
        itemInCart(item) {
          return this.cart.includes(item);
        },
        deleteFromCart(item) {
          this.cart.splice(this.cart.indexOf(item), 1);
          this.getAssociations();
        },
      },
      created() {
        this.getItems();
      },
    })
  </script>

</body>

</html>